.article {
	background-color: #d8eaeb;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-gap: 10px;
	grid-template-areas: ". t t ." "m m . ." ". . pa pa" "pr pr . .";
	font-size: 1.7em;
}

h1 {
	grid-area: t;
	margin-left: auto;
	margin-right: auto;
}

.masseurs {
	grid-area: m;
	/*background-color: blue;*/
	color: antiquewhite;
}

.masseurs fieldset {
	border: 2px solid #0e97cb;
	background-color: #40c1f2;
	border-radius: 8px;
}

.masseurs legend {
	font-style: oblique;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font: bold;
	font-size: 1.6em;
}

.partenaires {
	grid-area: pa;
}

.partenaires fieldset {
	background-color: yellow;
	border-radius: 8px;
	border: 2px solid #0e97cb;
}

.partenaires legend {
	font-style: oblique;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font: bold;
	font-size: 1.6em;
}

.prestations {
	grid-area: pr;
}

.prestations fieldset {
	border: 2px solid green;
	border-radius: 8px;
}

.prestations legend {
	color: green;
	font-style: oblique;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font: bold;
	font-size: 1.6em;
}

@media ( max-width : 768px) {
	.article {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "t t" "m m" "pa pa" "pr pr";
	}
}


    .ui-outputlabel {
        font-weight: bold;
    }
 
    .ui-orderlist .ui-orderlist-list {
        height: auto;
    }
