body {
	font-family: Arial, Helvetica, sans-serif;
	  background: #0088CB;
	
}

form {
  border: 3px solid #f1f1f1;
  position: relative;
  z-index: 1;
  background: #99ddff;


  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.24);
}


input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}



.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

.connexion {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.connexion:hover {
	opacity: 0.8;
}

.article {
	background-color: #d8eaeb;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 20px;
	grid-template-areas: "t t" "fo fo";
	padding-left: 600px;
	margin-top: 16px;
	height: 59vh;
	padding-top: 50px;
		
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}