body {
	margin:0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-gap: 20px;
	background-color: #661B1C;
	min-height: 90vh;
	position: relative;
	width:99vw;
	text-align:center;
}

header{
	background-color:#660000;
	width :99vw;	
}

h1 {
	text-align: center;
}

.nav {
	grid-column: 1/-1;
	grid-row: 2;
	background-color: #661B1C;
	font-size: 2vh;
	padding: 0px;
	width:98.5vw;
}

.article {
	grid-column: 1/-1;
	grid-row: 3;
	background-color: #d8eaeb;
	color: teal;
	min-height:100vh;
	margin-bottom:20px; 
	width:99vw;
	text-align:center
}

.ui-menu, .ui-menu .ui-menu-child {
	background: #c4c4c4
		url("/NomadsWeb/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo")
		top repeat-x;
	background: #c4c4c4 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #c4c4c4
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #660000;
}

.ui-widget-content {
	border: none;
}

.ui-widget-content a {
	color: #FFFF84
}

.ui-menu {
	width: 12.5em;
	padding: .3em;
	outline: 0 none;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1rem;
	line-height: 1;
	color: #FFFFC2;
	background-color: #660000;
	display: block;
	grid-column: 1/-1;
	grid-row: 4;
	height: 1vh;
	text-align: center;
	position:absolute;
	bottom : 0;
	width :94.8vw;
	min-height: min-content;
	padding: 35px;
}

footer a {
	color: #FFFFFF;
}

footer h4 {
	font-family: "metropolis-bold", sans-serif;
	font-size: 1.45rem;
	line-height: 1.286;
	text-transform: uppercase;
	letter-spacing: .25rem;
	padding-bottom: 4.2rem;
	color: #FFFFFF;
	margin-top: 0;
}

footer h4::after {
	content: "";
	display: block;
	height: 1px;
	width: 120px;
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
	left: 0;
	bottom: 0;
}

.s-footer__main {
	margin-bottom: 3.6rem;
}

/* -------------------------------------------------------------------
 * ## buttons
 * ------------------------------------------------------------------- */ 
.ui-button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.ui-button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.ui-button:active {
	position:relative;
	top:1px;
}
	


 .btnVal {
	color: white;
	padding: 14px 20px;
	margin: 0px 8px 0px 85px;
	width: 58%;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.btnVal:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.btnVal:active {
	position:relative;
	top:1px;
}
 
.btnDemo {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #a9afee 5%, #7d86de 100%);
	background-color:#a9afee;
	border-radius:6px;
	border:1px solid #4755d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7d86de;
	padding: 14px 20px;
	margin: 8px 0;
	width: 15%;
}

.btnDemo:hover {
	background:linear-gradient(to bottom, #7d86de 5%, #a9afee 100%);
	background-color:#7d86de;
}
.btnDemo:active {
	position:relative;
	top:1px;
}

/* -------------------------------------------------------------------
 * ## copyright
 * ------------------------------------------------------------------- */
.s-footer__bottom .s-footer__copyright span {
	display: inline-block;
}

.s-footer__bottom .s-footer__copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}

.s-footer__bottom .s-footer__copyright span:last-child::after {
	display: none;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer components
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
	.s-footer__main>.row {
		max-width: 800px;
	}
	.s-footer__sitelinks, .s-footer__archives, .s-footer__social {
		margin-bottom: 3rem;
	}
	.s-footer__subscribe {
		clear: both;
	}
	.s-footer__bottom {
		text-align: center;
	}
}

@media only screen and (max-width:600px) {
	footer {
		padding-top: 7.8rem;
	}
	.s-footer__main .row {
		max-width: 480px;
	}
	.s-footer__main h4 {
		padding-bottom: 0;
		margin-bottom: 2.4rem;
	}
	.s-footer__main h4::after {
		display: none;
	}
	.s-footer__main .s-footer__linklist {
		width: 80%;
		margin: 0 auto;
	}
	.s-footer__main .s-footer__linklist li a {
		display: block;
		border-bottom: 1px solid rgba(255, 255, 255, 0.03);
		padding: .6rem 0;
	}
	.s-footer__main .s-footer__linklist li:first-child a {
		border-top: 1px solid rgba(255, 255, 255, 0.03);
	}
	.s-footer__sitelinks, .s-footer__archives, .s-footer__social,
		.s-footer__subscribe {
		text-align: center;
	}
	.s-footer__sitelinks, .s-footer__archives, .s-footer__social {
		margin-bottom: 4.2rem;
	}
	.s-footer__main .row [class*="col-"]:nth-child(2) {
		display: none;
	}
	.s-footer__bottom {
		padding-bottom: .6rem;
	}
	.s-footer__bottom .s-footer__copyright span {
		display: block;
	}
	.s-footer__bottom .s-footer__copyright span::after {
		display: none;
	}
}

div {
	margin: 0;
	padding: 0;
}

/* ------------------------------------------------------------------- 
 * ## close button for search and mobile navigation 
 * ------------------------------------------------------------------- */
.header__overlay-close {
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	top: 21px;
	left: 50%;
	margin-left: -23px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.header__overlay-close::before, .header__overlay-close::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 20px;
	top: 12px;
	left: 22px;
	background-color: #FFFFFF;
}

.header__overlay-close::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header__overlay-close::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
.header__logo {
	display: inline-block;
	margin:0 0 0 35%;
	top:10px;
}

.header__logo a {
	display: block;
	margin: 0 0 0 6px;
	padding: 0;
	outline: 0;
	border: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 10vh;
	
}

.header__logo img {
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------------------------- 
 * ## header-connexion
 * ------------------------------------------------------------------- */
.header__connexion {
	display: block;
	text-align: center;
	background: #151515;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 900;
}

.header__connexion-form {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header__connexion-form label {
	color: #FFFFFF;
}

.header__connexion-form::after {
	content: "Press Enter to begin your search.";
	display: block;
	letter-spacing: 0.6px;
	font-size: 1.6rem;
	margin-top: 3rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.header__connexion-form input[type="search"] {
	background-color: transparent;
	color: #000000;
	height: auto;
	width: 100%;
	font-family: "metropolis-semibold", sans-serif;
	font-size: 6rem;
	line-height: 1.5;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
	max-width: 680px;
	padding-top: .6rem !important;
	padding-bottom: .6rem !important;
	margin: 0 auto;
}

.header__connexion-form input[type="search"]::-webkit-input-placeholder
	{
	color: #FFFFFF;
	text-align: center !important;
	opacity: 1;
}

.header__connexion-form input[type="search"]:-moz-placeholder {
	color: #FFFFFF;
	text-align: center !important;
	opacity: 1;
}

.header__connexion-form input[type="search"]::-moz-placeholder {
	color: #FFFFFF;
	text-align: center !important;
	opacity: 1;
}

.header__connexion-form input[type="search"]:-ms-input-placeholder {
	color: #FFFFFF;
	text-align: center !important;
	opacity: 1;
}

.header__connexion-form input[type="search"].placeholder {
	color: #FFFFFF;
	text-align: center !important;
	opacity: 1;
}

.header__connexion-form input[type="search"]:focus {
	outline: none;
}

.header__connexion-form input[type="submit"] {
	display: none;
}

body.connexion-is-visible {
	overflow: hidden;
}

.connexion-is-visible .header__connexion {
	opacity: 1;
	visibility: visible;
}

/* -------------------------------------------------------------------
 * ## header connexion trigger
 * ------------------------------------------------------------------- */
.header__connexion-trigger {
	height: 21px;
	min-width: 21px;
	position: absolute;
	right: 20px;
	top: 41px;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.header__connexion-trigger::before {
	font-family: "metropolis-semibold", sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 21px;
	content: "Déconnexion";
	display: block;
	color: #FFFFFF;
	float: left;
	padding-right: 81px;
}
/* ------------------------------------------------------------------- 
 * responsive:
 * header components
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1000px) {
	.header__social {
		font-size: 21px;
	}
}

@media only screen and (max-width:900px) {
	.header__logo img {
		width: 250px;
		height: 45px;
	}
}

@media only screen and (max-width:800px) {
	.s-pageheader {
		min-height: 90px;
	}
	.s-pageheader--home {
		padding-top: 120px;
	}
	.header {
		top: 24px;
	}
	.header__logo img {
		width: 225px;
		height: 40px;
	}
	.header__social {
		display: none;
	}
	.header__toggle-menu {
		top: 0;
		display: block;
	}
	.header__connexion-trigger {
		top: 9px;
		right: 28px;
	}
	.header__connexion-trigger::before {
		display: none;
	}
	.header__connexion-form::after {
		font-size: 1.5rem;
	}
	.header__connexion-form input[type="search"] {
		max-width: none;
		width: 80%;
		font-size: 4.2rem;
	}
}

@media only screen and (max-width:600px) {
	.s-pageheader {
		min-height: 84px;
	}
	.header__logo img {
		width: 200px;
		height: 36px;
	}
	.header__toggle-menu {
		top: -3px;
	}
	.header__search-trigger {
		top: 6px;
	}
	.header__search-form input[type="search"] {
		font-size: 3.4rem;
	}
}

@media only screen and (max-width:400px) {
	.s-pageheader {
		min-height: 78px;
	}
	.s-pageheader--home {
		padding-top: 96px;
	}
	.header__logo img {
		width: 160px;
		height: 29px;
	}
	.header__toggle-menu {
		top: -7px;
	}
	.header__search-trigger {
		top: 3px;
	}
	.header__search-form input[type="search"] {
		font-size: 2.6rem;
	}
}