<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAccueilAdmin.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>

	</ui:define>
	<ui:define name="Nav">

		<p:menubar model="#{menuBeanMasseur.menuModel}" />

	</ui:define>

	<ui:define name="PrincipalContent">
		<h1>
			BONJOUR <h:outputLabel value="#{mbAccount.masseur.prenomMasseur}" /> ! 
		</h1>
		<div class="article">

			<div class="prestations">
				<fieldset>
					<legend>Mes prestations</legend>
					<h:outputLabel value="Tu n'as pas de prestation prévue dans les 3 prochains jours." rendered="#{mbFicheMasseurMasseur.interventionsAVenir3J == null}"/>
					<h:outputLabel value="Tu as #{mbFicheMasseurMasseur.interventionsAVenir3J.size()} prestations prévues dans les 3 prochains jours" rendered="#{mbFicheMasseurMasseur.interventionsAVenir3J != null}"/>
					<h:outputLabel value=", dont #{mbAccueilMasseur.interventionsDuJour.size()} pour aujourd’hui." rendered="#{mbAccueilMasseur.interventionsDuJour != null}"/>
					
				
					
				</fieldset>
			</div>
		</div>
	</ui:define>

</ui:composition>
</html>