<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      template="/template/template.xhtml">
      
      <ui:define name="title">
      
      <title>Nomad's</title>
      
      </ui:define>
      
      <ui:define name="content">
      
      
    <!-- s-content
    ================================================== -->
    <section class="s-content">
        
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

               
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <a class="entry__thumb-link">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/masonry/tulips-400.jpg"></img>
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                     
                            <h1 class="entry__title"><a>NOMAD'S , C'EST QUOI EXACTEMENT ? </a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                             Il n'est pas souvent possible de se déplacer pour aller se faire masser. Cela ne fait rien, ce sont nos masseurs qui se déplacent et vous proposent un réel moment de détente, là où vous êtes. 
						   </p>
						   <p>
						   Dans nos bars et restaurants , en entreprise, lors de vos événements, nous sommes là pour vous apporter un moment de détente magique
                          </p>
                        </div>
              
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a  class="entry__thumb-link">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/masonry/cookies-400.jpg"  ></img>
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
           
                            <h1 class="entry__title"><a>LA QUALITÉ AVANT TOUT</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                               Toutes nos masseuses et nos masseurs ont été soigneusement sélectionnés, et ont bénéficié de notre Formation Nomad's aussi bien sur la technique, que notre état d'esprit et nos valeurs. 

                               Nous croyons que le Bien-être a sa place partout, et que la qualité est la clé !
                            </p>
							   <p>
							   Nôtre mission est de démocratiser le Bien-être, en proposant une prestation simple, efficace et qualitative.
							</p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a>LE BIEN-ÊTRE VIENT À VOUS, OÙ QUE VOUS SOYEZ.</a>
                             
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a  class="entry__thumb-link">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/masonry/wheel-400.jpg" 
                                    ></img>
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <h1 class="entry__title"><a >POURQUOI NOMAD'S ? </a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Travaille où tu veux, quand tu veux et autant que tu veux.. et si tu veux !
                                Via notre application interne, tu t'inscris toutes les semaines pour travailler dans nos bars et restaurants partenaires. 
                            </p>
							<p>
							
							</p>
							Tu es payé(e) directement le soir même par les clients à qui tu proposes des massages de 10 minutes, et tu rentres avec l'argent en poche... ou sur ton compte en banque, vu que nous prenons la CB :) 
						
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a > TU ES LIBRES, COMME UN NOMAD'S QUOI !</a> 
                               
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                 <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a  class="entry__thumb-link">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/masonry/fuji-400.jpg" ></img>
                        </a>
                    </div>
                             
                        <div class="entry__text">
                        <div class="entry__header">
                            
                            <h1 class="entry__title"><a >LE MASSAGE EN ENTREPRISE ET EN ÉVENEMENTIEL</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                               En plus des massages dans les bars et restaurants, nous te proposons des missions ponctuelles en entreprise et lors de toutes sortes d'événements ! 
                            </p>
							<p>
							Ce genre de prestations sont payées à l'heure sur facture, et réservées à nos  Nomad's les plus expérimentés :) 							
							</p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a > C'EST ÇA ÊTRE UN NOMAD'S !</a> 
                               
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->
              


            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

      
    </section> <!-- s-content -->


    <!-- s-extra
    ================================================== -->
    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                <h3>NOS OFFRES</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a class="popular__thumb">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/small/wheel-150.jpg" alt=""></img>
                        </a>
                        <h5><a>MASSAGES EN ENTREPRISE</a></h5>
                        <section class="popular__meta">
                                <span class="popular__author"> <a> Nous vous proposons des massages assis sur chaise ergonomique ou sur chaise normale, et vous </a></span>
                                <a>  accompagnons pour choisir la formule la plus adaptée à vos besoins.</a>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a  class="popular__thumb">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/small/shutterbug-150.jpg" alt=""></img>
                        </a>
                        <h5><a>MASSAGES DANS LES BARS ET RESTOS</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"> <a> Tous les soirs, nos équipes sillonnent les bars et restaurants les plus branchés de Paris afin d'offrir aux </a></span>
                            <a>parisiens un moment de détente supplémentaire après une longue journée... et cela à prix libre !</a>  
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a class="popular__thumb">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/small/cookies-150.jpg" alt=""></img>
                        </a>
                        <h5><a>MASSAGES EVENEMENTIELS</a></h5>
                        <section class="popular__meta">
                                <span class="popular__author"> <a> Toutes les occasions sont bonnes pour se détendre un peu ! Soirée d'entreprise, anniversaire, lancement de produit, </a></span>
                           <a> hackathon, ... Que ce soit dans une ambiance calme ou festive, nos massages nomades s'adaptent à tous vos événements.</a>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a  class="popular__thumb">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/imagesAccueil/thumbs/small/shutterbugg-150.jpg" alt=""></img>
                        </a>
                        <h5><a>NOTRE ÉQUIPE C'EST...</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"> <a> Nos masseurs/euses partenaires, nous les avons choisis avec soin: tous partagent nos valeurs, aiment les gens, et ont réussis haut la main notre formation en interne. Ils vous proposent un moment de réelle détente et de bonheur, et ils nous donnent l'énergie et l'envie d'aller de plus en plus loin!</a></span>
                            
                        </section>
                    </article>
                   
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->
            
            <div class="col-four md-six tab-full about">
                <h3>LA GÉNÈSE DE NOMAD'S</h3>

                <p>
               C'est dans son quartier à Berlin qu'Alexandra rencontre pour la première fois des masseurs qui lui proposent un massage de 10 min dans son bar favori, ce qu'elle essaye tout de suite.
                </p>
                 <p>
				 Un an après, elle rejoint cette entreprise et propose des massages dans les bars et restaurants huppés de la capitale allemande, pendant qu'elle passe ses journées à la fac. L'aventure durera 8 ans. 
				 </p>
                <ul class="about__social">
                    <li>
                        <a href="https://www.facebook.com/NomadsMassage/?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/les.nomads/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->

      
    </section> <!-- end s-extra -->
      
      
      </ui:define>
 
	</ui:composition>