<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAccueilAdmin.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>

	</ui:define>
	<ui:define name="Nav">

		<p:menubar model="#{menuBeanPartenaire.menuModel}" />

	</ui:define>

	<ui:define name="PrincipalContent">
		<h1>
			BONJOUR <h:outputLabel value="#{mbAccount.partenaire.nomPartenaire}" /> !
		</h1>
		<div class="article">

			<div class="prestations">
				<fieldset>
					<legend>Mes prestations à venir </legend>
				Vous  
				<h:outputLabel value="n'avez aucune intervention prévue  " rendered="#{mbAccueilPart.interv3J.size() == 0}"/>
				<h:outputLabel value="avez une intervention prévue  " rendered="#{mbAccueilPart.interv3J.size() == 1}"/>
				<h:outputLabel value="avez #{mbAccueilPart.interv3J.size()} interventions prévues " rendered="#{mbAccueilPart.interv3J.size() >1}"/>
				dans votre établissement pour les 3 jours à venir
				<h:outputLabel value="." rendered="#{mbAccueilPart.intervAjD.size() == 0 and mbAccueilPart.interv3J.size() == 0}"/>
				<h:outputLabel value=", dont aucune n'est prévue pour aujourd'hui." rendered="#{mbAccueilPart.intervAjD.size() == 0 and mbAccueilPart.interv3J.size() > 0}"/>
				<h:outputLabel value=", dont une est prévue  pour aujourd'hui." rendered="#{mbAccueilPart.intervAjD.size() == 1}"/>
				<h:outputLabel value=", dont  #{mbAccueilPart.intervAjD.size()} sont prévues prévues pour aujourd'hui." rendered="#{mbAccueilPart.intervAjD.size() >1}"/>

				<br/>
				<h:outputLabel value="Nous serions ravis de travailler de nouveau avec vous!" rendered="#{mbAccueilPart.intervAjD.size() == 0 and mbAccueilPart.interv3J.size() == 0}"/>
				
				</fieldset>
				
				<fieldset>
					<legend>Informations </legend>
				Saviez vous que notre partenariat dure depuis   
				<h:outputLabel value=" #{mbAccueilPart.dureePartenariat} jours?! " />
				
				</fieldset>
			</div>
		</div>
	</ui:define>

</ui:composition>
</html>