<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAjout.css" />
	</ui:define>

     <ui:define name="head">
      
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     
     </ui:define>

    <ui:define name="Nav">
    
    <p:menubar model="#{menuBeanAdmin.menuModel}"/>
    
    </ui:define>
	<ui:define name="PrincipalContent">


		<div class="formulaire">
			<h:form id="formul" >
					<div class="titre">
			<h2>Ajouter un masseur</h2>
		</div>
			
				<p:panel class="form" id="panel" widgetVar="widgetV">
					<!-- organise le formulaire dans un tableau à deux colonnes -->
					<h:panelGrid columns="2" cellpadding="5" >
						<h:outputLabel value="Nom :" for="nom" />
						<h:inputText value="#{mbAjoutMasseurs.nomMasseur}" id="nom" required="true"
							requiredMessage="La saisie du nom est obligatoire" />
							
						<h:outputLabel value="Prénom :" for="prenom" />
						<h:inputText value="#{mbAjoutMasseurs.prenomMasseur}" id="prenom" />

						<h:outputLabel value="Adresse postale :" for="ad" />
						<h:inputText value="#{mbAjoutMasseurs.adressePostaleMasseur}" id="ad" />

						<p:selectOneMenu id="country" value="#{mbAjoutMasseurs.selectedCP}" >
					<p:ajax listener="#{mbAjoutMasseurs.onCPChange()}" update="ville"/>
					<f:selectItem itemLabel="Choisir un code postal" itemValue="" noSelectionOption="true"/>
					<f:selectItems value="#{mbAjoutMasseurs.codesPostaux}"/>
				</p:selectOneMenu>

				<p:selectOneMenu id="ville" value="#{mbAjoutMasseurs.selectedVille}" >
				<f:selectItem itemLabel="Choisir une ville" itemValue="" noSelectionOption="true"/>
					<f:selectItems value="#{mbAjoutMasseurs.villes}"/>
				</p:selectOneMenu>

						<h:outputLabel value="Adresse mail :" for="mel" />
						<h:inputText value="#{mbAjoutMasseurs.adresseMailMasseur}" id="mel" />

						<h:outputLabel value="Numéro de téléphone :" for="tel" />
						<h:inputText value="#{mbAjoutMasseurs.telephoneMasseur}" id="tel" />
						
						<h:outputLabel value="Date de naissance :" />						
						<p:calendar value="#{mbAjoutMasseurs.dateDeNaissanceMasseur}"></p:calendar>
						
						
						<h:outputLabel value="Sexe : " />
						<h:selectOneMenu value="#{mbAjoutMasseurs.idSexeRecup}">
						<f:selectItem itemLabel="Choisir sexe" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbAjoutMasseurs.listeSexe}" var="sexeMasseurSelectionne" itemLabel="#{sexeMasseurSelectionne.libelleSexe}" itemValue="#{sexeMasseurSelectionne.idSexe}"/>
						</h:selectOneMenu>

						<h:outputLabel value="Login :" for="log" />
						<h:inputText id="log" value="#{mbAjoutMasseurs.loginMasseur}" />
						
						<h:outputLabel value="Mot de passe temporaire :" for="mdp" />
						<h:inputText id="mdp" value="#{mbAjoutMasseurs.passwordMasseur}" />

						
					</h:panelGrid>
				</p:panel>
				
				<h:commandButton action="#{mbAjoutMasseurs.ajouterMasseur()}" value="Valider" id="cmdBtn" class="btnVal"/>
						<h:commandButton action="#{mbAjoutMasseurs.demo()}" value="Demo" id="cmdBtnDemo" class="btnDemo">
							<f:ajax render="formul"></f:ajax>
						</h:commandButton>
			</h:form>
		</div>




	</ui:define>
</ui:composition>
</html>