<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleAjout.css"/>
	</ui:define>

     <ui:define name="head">
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     </ui:define>

    <ui:define name="Nav">
    <p:menubar model="#{menuBeanAdmin.menuModel}"/>
    </ui:define>
    
    <ui:define name="PrincipalContent">
    
 
		
		
		<div class="formulaire">
			<h:form id="formul">
			   <div class="titre">
			<h2>Ajouter une prestation</h2>
		</div>
				<p:panel class="form">
					<h:panelGrid columns ="2" cellpadding="5">
					
					
						<p:outputLabel value="Type de partenaire :"> </p:outputLabel>
						<p:selectOneMenu id="typePartenaire" value="#{mbAjoutPrestaInterv.idTypePartenaire}" style="width:250px">
						<p:ajax listener="#{mbAjoutPrestaInterv.onTypePartenaireChange()}" update="partenaire"/>
						<p:ajax listener="#{mbAjoutPrestaInterv.onTypePartChangeMasseur()}" update="masseurs"/>
						<f:selectItem itemLabel="Choisir un type partenaire" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbAjoutPrestaInterv.typePartenaires}" var="se" itemLabel="#{se.libelleTypePartenaire}" itemValue="#{se.idTypePartenaire}"/> 
						</p:selectOneMenu>
						
						<p:outputLabel value="Type de paiement :"> </p:outputLabel>
						<p:selectOneMenu id="typePaiement" value="#{mbAjoutPrestaInterv.typeDePaiement}" style="width:250px">
						<p:ajax listener="#{mbAjoutPrestaInterv.OnTypeDePaiementChange()}" update="@form"></p:ajax> 
						<f:selectItem itemLabel="Choisir un type de paiement" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbAjoutPrestaInterv.typeDePaiements}" var="se" itemLabel="#{se.description}" itemValue="#{se.value}"></f:selectItems>
						</p:selectOneMenu>

						<p:outputLabel value="Partenaire :"> </p:outputLabel>
						<p:selectOneMenu id="partenaire" value="#{mbAjoutPrestaInterv.idSelectedPartenaire}" filter="true" filterMatchMode="startsWith" required="true" requiredMessage="Vous n'avez pas sélectionné de partenaire.">
						<f:selectItem itemLabel="Choisir un partenaire" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbAjoutPrestaInterv.mesPartenaires}"  var="select" itemLabel="#{select.nomPartenaire}" itemValue="#{select.idPartenaire}"/>
						</p:selectOneMenu>
						
						
						<p:outputLabel value="Masseurs :"> </p:outputLabel>
						<p:selectManyMenu id="masseurs" value="#{mbAjoutPrestaInterv.idSelectedMasseurs}" style="width:300px"
						 showCheckbox="true" filter="true" filterMatchMode="startsWith" converter="omnifaces.SelectItemsConverter" >
						<f:selectItems value="#{mbAjoutPrestaInterv.masseurs}" var="select"
						itemLabel="#{select.prenomMasseur} #{select.nomMasseur}" itemValue="#{select}" ></f:selectItems>
						</p:selectManyMenu> 
								
						<h:outputLabel value="Libellé de la prestation : " for="libelle" />
						<h:inputText value="#{mbAjoutPrestaInterv.libellePrestation}" id="libelle" required="true" requiredMessage="Vous n'avez pas libellé la prestation." />
						
						<h:outputLabel value="Nombre de masseurs : " for="nbmasseurs" />
						<p:spinner value="#{mbAjoutPrestaInterv.nombreMasseursPrestation}" id="nbmasseurs" required="true" 
						requiredMessage="Vous n'avez pas indiqué le nombre de masseurs." validatorMessage="Attention : Votre prestation doit contenir au minimum 2 masseurs.">
						<f:validateLongRange minimum ="2" for="nbmasseurs"></f:validateLongRange>
						</p:spinner>
	
					
						<h:outputLabel value="Coût Devis : " for="coutDevis" name="coutDevis" rendered = "#{mbAjoutPrestaInterv.bis}"/>
						<p:spinner value="#{mbAjoutPrestaInterv.coutDevisPrestation}" id="coutDevis" rendered = "#{mbAjoutPrestaInterv.bis}" />
					
						
						<h:outputLabel value="Coût Mads : " for="coutMads" name="coutMads" rendered="#{mbAjoutPrestaInterv.disabled}" />
						<p:spinner value="#{mbAjoutPrestaInterv.coutMads}" id="coutMads" rendered="#{mbAjoutPrestaInterv.disabled}"/>
		
						<h:outputLabel value="Date de règlement : " for="reglement" rendered = "#{mbAjoutPrestaInterv.bis}"/>
						<p:calendar value="#{mbAjoutPrestaInterv.datePaiementPrestation}" id="reglement" locale="de" navigator="true" pattern="dd-MM-yyyy" rendered = "#{mbAjoutPrestaInterv.bis}"/>					
						
						<h:outputLabel value="Date de la prestation : " for="DatePresta" />
						<p:calendar id="DatePresta" value="#{mbAjoutPrestaInterv.datePrestation}" locale="de" timeZone="+2" navigator="true" pattern="dd-MM-yyyy" required="true" requiredMessage="Vous n'avez pas sélectionné de date pour la prestation."></p:calendar>
						
						<h:outputLabel value="Pas de la récurrence : " for="pass" />
						 <p:spinner id="pass" value="#{mbAjoutPrestaInterv.pas}" />
       					 
      
       					  <h:outputLabel for="dur" value="Durée de la récurrence : " />
      					  <p:spinner id="dur" value="#{mbAjoutPrestaInterv.dureeRecurrence}" />
      					  
						 
						<h:outputLabel value="Heure debut : " for="heureD" />
						<p:calendar id="heureD" value="#{mbAjoutPrestaInterv.heureDebutPrestation}" pattern="HH:mm" timeOnly="true"></p:calendar>
						
						<h:outputLabel value="Heure fin : " for="heureF" />
						<p:calendar id="heureF" value="#{mbAjoutPrestaInterv.heureFinPrestation}" pattern="HH:mm" timeOnly="true"></p:calendar>
						
						<h:outputLabel value="Nombre de chaises ergonomiques : " for="nbChaises" />
						<p:spinner value="#{mbAjoutPrestaInterv.nombreChaisesErgonomiquesPrestation}" id="nbChaises" />
						
						<h:outputLabel value="Montant de la Rémunération : " for="MontantR" rendered = "#{mbAjoutPrestaInterv.bis}"/>
						<p:spinner value="#{mbAjoutPrestaInterv.montantRemunerationPrestation}" id="MontantR" rendered = "#{mbAjoutPrestaInterv.bis}"/>
       					
        
						<h:outputLabel value="Adresse de la prestation : " for="adresse" />
						<h:inputText value="#{mbAjoutPrestaInterv.adresseInterventionPrestation}" id="adresse" />
						
						<p:selectOneMenu id="country" value="#{mbAjoutPrestaInterv.selectedCP}" >
						<p:ajax listener="#{mbAjoutPrestaInterv.onCPChange()}" update="ville"/>
						<f:selectItem itemLabel="Choisir un code postal" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbAjoutPrestaInterv.codesPostaux}"/>
						</p:selectOneMenu>

						<p:selectOneMenu id="ville" value="#{mbAjoutPrestaInterv.selectedVille}" >
						<f:selectItem itemLabel="Choisir une ville" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{mbAjoutPrestaInterv.villes}"/>
						</p:selectOneMenu>
						
						<h:outputLabel value="Spécificités :" />
						<p:inputTextarea value="#{mbAjoutPrestaInterv.specificitesPrestation}" rows="6" cols="33" />
 

					
					</h:panelGrid>
		
				
				</p:panel>
		
						<p:commandButton  value="Sauvegarder" class="btnVal" action="#{mbAjoutPrestaInterv.AjouterPrestationEtIntervention()}"></p:commandButton>
					
					
					  <p:messages id="messages" closable="true">
       					 <p:autoUpdate />
    				</p:messages>
					
					<h:commandButton action="#{mbAjoutPrestaInterv.demo()}" value="Demo"  class="btnDemo">
							<f:ajax render="formul"></f:ajax>
						</h:commandButton>
					
			</h:form>
		
		
		</div>
    


    
    
    
    
    </ui:define>
    </ui:composition>












</html>
