<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:g="http://primefaces.org/ui"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:d="http://primefaces.org/ui">

<h:head>
   <h:outputStylesheet name="CSS/StyleConnexion.css" />
       <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="${facesContext.externalContext.requestContextPath}/resources/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="${facesContext.externalContext.requestContextPath}/resources/favicon.ico" type="image/x-icon"/>
</h:head> 
<h:body> 

<div class="login-page">
  <h:form>
			<div class="imgcontainer">
				<img src="resources/images/login.png" style="width: 150px" />
			</div>

			<div class="container">
				<label for="email"><b>Login</b></label>
				<h:inputText p:type="text"    p:placeholder="Entrer Email"
					value="#{mbAccount.login}"  />

				<label for="psw"><b>Password</b></label>
				<h:inputSecret p:type="password"  p:placeholder="Entrer Password"
					value="#{mbAccount.password}" />

				<h:commandButton class="connexion"
					action="#{mbAccount.connection()}" value="Connexion" />
				<br /> <label> <h:inputText p:type="checkbox"
						checked="checked" value="" /> Remember me
				</label>
			</div>

			<div class="container" style="background-color: #f1f1f1">
				<h:commandButton class="cancelbtn" action="#{mbAccount.cancel()}" value="Cancel" />
				<span class="psw">Forgot <a href="#">password?</a></span>
			</div>
		</h:form>
		</div>
</h:body> 
</html>