<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFicheMasseurAdm.css" />
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanMasseur.menuModel}" />


	</ui:define>

	<ui:define name="PrincipalContent">

			<p:panel header="Votre choix de pack est le :"
			style="text-align:center">
			<p:graphicImage name="/resources/images/mads/Mads.png" />
			<h:panelGrid columns="2" style="width:100%">
				
				<h:outputText
					value="le pack : " />
				<h:outputLabel
					value="#{mbDetailCommande.packMads.libelleTypePackMads}" />
					<h:outputLabel
					value="Nombre de mads dans ce pack : " />
				<h:outputLabel
					value="#{mbDetailCommande.packMads.valeurTypePackMads} mads" />
					<h:outputLabel
					value="prix du pack (TTC)" />
				<h:outputText value="#{mbDetailCommande.packMads.prixTypePackMads}">
					<f:convertNumber currencySymbol="€" type="currency" />
				</h:outputText>
				<h:outputLabel></h:outputLabel>
				<h:outputLabel></h:outputLabel>
				<h:outputLabel></h:outputLabel>
				<h:outputLabel></h:outputLabel>
			</h:panelGrid>
			<form method="post"
			action="https://www.sandbox.paypal.com/cgi-bin/websrc">
			<input type="hidden" name="upload" value="1" /> <input type="hidden"
				name="authtoken"
				value="AQ9rC4M4ippgQbLC_HRxyd71jI3zxs9Oyj_l9PRfTBqMN348eZNcBFX773pndW257QgWsajcvVSdawgS" />
			<input type="hidden" name="return"
				value="http://localhost:8082/NomadsWeb/FicheMasseurMass.xhtml?typePack=#{mbDetailCommande.packMads.idTypePack}" />
			<input type="hidden" name="cmd" value="_cart" /> <input type="hidden"
				name="CURRENCY" value="EUR" /> <input type="hidden"
				name="business" value="letruchenri@hotmail.com" />


			<!-- Le Produit choisi -->

			<input type="hidden" name="item_name_1"
				value="#{mbDetailCommande.packMads.libelleTypePackMads}" /> <input
				type="hidden" name="amount_1"
				value="#{mbDetailCommande.packMads.prixTypePackMads}" /> <input
				type="hidden" name="quantity_1" value="1"/>
				<input type="image" src="https://www.paypalobjects.com/fr_FR/i/btn/btn_xpressCheckout.gif" />

		</form>
		</p:panel>


		

	</ui:define>
</ui:composition>
</html>
