<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFicheMasseurAdm.css" />
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
		
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanAdmin.menuModel}" />
		

	</ui:define>

	<ui:define name="PrincipalContent">
		<div class="article">
			<div class="photo">
				<a href="http://localhost:8082/NomadsWeb/"> 
				<h:graphicImage
						href="http://localhost:8082/NomadsWeb/" library="images"
						name="#{mbFicheMasseur.masseur.photoMasseur}" alt="masseur" width="200px"></h:graphicImage>
				</a>
			</div>


			<div class="phraseAcc">
<!-- 			<h:outputLabel value="Hola Admin et pas masseur" rendered="#{mbFicheMasseur.adminConnected != null}" /> -->
<!-- 			<h:outputLabel value="Hola Masseur et pas Admin" rendered="#{mbFicheMasseur.masseurConnected != null}" /> -->

			<h:outputLabel rendered="#{mbFicheMasseur.interventionsAVenir == null}" value="#{mbFicheMasseur.masseur.prenomMasseur} #{mbFicheMasseur.masseur.nomMasseur} n'a pas de prestations prévues." />
			<h:outputLabel rendered="#{mbFicheMasseur.interventionsAVenir != null}" value="#{mbFicheMasseur.masseur.prenomMasseur} #{mbFicheMasseur.masseur.nomMasseur} a #{mbFicheMasseur.interventionsAVenir.size()} prestations prévues ()pour la semaine à venir? règle de gestion supp nécessaire)." />
			</div>

			<div class="evoPro">
			Son niveau: <br/>
				#{mbFicheMasseur.dernierHistoEvoPro.evolutionsProfessionnelle.libelleEvolutionProfessionnelle} depuis le 
				<h:outputLabel value="#{mbFicheMasseur.dernierHistoEvoPro.dateDebutEvolutionProfessionnelleMasseur}">
				<f:convertDateTime pattern="dd-MM-yyyy"/>
				</h:outputLabel>
			</div>

			<div class="catego">
			<h:outputLabel value="" rendered="#{mbFicheMasseur.listeAffectationCatMass.size()==1}"> Sa categorie:</h:outputLabel>
			<h:outputLabel value="" rendered="#{mbFicheMasseur.listeAffectationCatMass.size()>1}"> Ses categories:</h:outputLabel>
			
				<ui:repeat var="cat"
					value="#{mbFicheMasseur.listeAffectationCatMass}">
					<li>#{cat.categorieMasseur.libelleCategorieMasseur} depuis le
						<h:outputLabel
							value="#{cat.dateEntreeCategorieMasseur}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputLabel>
					</li>
				</ui:repeat>

			</div>
			<div class="mads">
			Solde de Mads : #{mbFicheMasseur.soldus} 
			<p:commandButton action="#{mbFicheMasseurMasseur.acheterMads()}" value="Acheter des Mads" />
			</div>

			<div class="infosP">
				<p:panel class="form">
					<!-- organise le formulaire dans un tableau à deux colonnes -->
					<h:panelGrid columns="2" cellpadding="5">
						<h:outputLabel value="Adresse :" for="adresse" />
						<h:outputLabel value="#{mbFicheMasseur.masseur.adressePostaleMasseur}" id="adresse"/>
						<h:outputLabel value=""  />
						<h:outputLabel value="#{mbFicheMasseur.masseur.villeCp.libelleCp} - #{mbFicheMasseur.masseur.villeCp.libelleVille}" />
						
						<h:outputLabel value="Adresse mail : "  />
						<h:outputLabel value="#{mbFicheMasseur.masseur.adresseMailMasseur}"/>
						
						<h:outputLabel value="Date de naissance : "  />
						<h:outputLabel value="#{mbFicheMasseur.masseur.dateDeNaissanceMasseur}"/>
						
<!-- 						<h:outputLabel value=""  /> -->
<!-- 						<h:outputLabel value="#{mbFicheMasseur.masseur.}"/> -->
						
<!-- 						<h:outputLabel value=""  /> -->
<!-- 						<h:outputLabel value="#{mbFicheMasseur.masseur.}"/> -->
						
					</h:panelGrid>
				</p:panel>

			</div>

			<div class="autresInfos">
				<h:form>
					<h:outputLabel value="Aucune prestation à venir pour le moment"
						rendered="#{mbFicheMasseur.interventionsAVenir == null}" />
					<h:dataTable value="#{mbFicheMasseur.interventionsAVenir}"
						var="intervention" border="1"
						rendered="#{mbFicheMasseur.interventionsAVenir.size()>0}">

						<h:column>
							<f:facet name="header">Nom de l'intervention</f:facet>
							<h:outputLabel
								value="#{intervention.prestation.libellePrestation}" />
						</h:column>
						<h:column>
							<f:facet name="header">Lieu de l'intervention</f:facet>
							<h:outputLabel
								value="#{intervention.prestation.adresseInterventionPrestation}" />
						</h:column>
						<h:column>
							<f:facet name="header">Date de l'intervention</f:facet>
							<h:outputLabel value="#{intervention.datePrestation}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputLabel>
						</h:column>
						<h:column>
							<f:facet name="header">Heure de l'intervention</f:facet>
							<h:outputLabel
								value="#{intervention.prestation.heureDebutPrestation}" />
						</h:column>
						<h:column>
							<f:facet name="header">Détail de la prestation</f:facet>
							
							<p:commandButton action="#{mbFicheMasseur.detailFichePresta()}"
								icon="ui-icon-document" style="margin: 1.0vh" size="3px"
								title="Fiche masseur">
								<f:setPropertyActionListener
									value="#{intervention.idInterventionReelle}"
									target="#{mbFicheMasseur.idInterventionSelectionnee}" />
							</p:commandButton>
						</h:column>

					</h:dataTable>
				</h:form>
			</div>
			<h:form>
		<h:commandButton action="#{mbFicheMasseur.mettreAjour()}" value="Mettre à jour le masseur" />
<!-- 			<h:commandButton action="#{mbFicheMasseur.detailFichePresta()}" value="Voir l'intervention" /> -->
	
<!-- 		<h:commandButton action="#{mbFicheMasseur.sInscrireAPrestation()}" value="m'inscrire à une prestation" /> -->
	</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>
