<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"> 


<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePresta.css" />
	</ui:define>

     <ui:define name="head">
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     </ui:define>

    <ui:define name="Nav">
    <p:menubar model="#{menuBeanAdmin.menuModel}" rendered="#{mbFichePresta.administrateurConnected != null}"/>
    <p:menubar model="#{menuBeanMasseur.menuModel}" rendered="#{mbFichePresta.masseurConnected != null}"/>
    </ui:define>
    
    <ui:define name="PrincipalContent">
    
    <h:form>
    <div class="title">
			<h1>Prestation #{mbFichePresta.intervReelle.prestation.libellePrestation}</h1>
		</div>
		
		
			<div class="prez">
			
				
						<h2>Informations relatives à la prestation</h2>
						
						<div class ="panel1">
					<p:panelGrid columns="2" layout="grid">
					
					
    <h:outputText value="Date :"/> 
  	  <h:outputText value="#{mbFichePresta.intervReelle.datePrestation}">
    <f:convertDateTime pattern="dd-MM-yyyy" dateStyle="medium"/> 
    </h:outputText>


    <h:outputText value="Partenaire :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.partenaire.nomPartenaire}" /> 

  
    <h:outputText value="Lieu :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.adresseInterventionPrestation} 
    #{mbFichePresta.intervReelle.prestation.villeCp.libelleCp} #{mbFichePresta.intervReelle.prestation.villeCp.libelleVille}" /> 


    <h:outputText value="À :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.heureDebutPrestation}" > 
    </h:outputText>
    
    <h:outputText value="Nombre de chaises ergonomiques (à prêter) :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.nombreChaisesErgonomiquesPrestation}" /> 

    <h:outputText value="Spécificités :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.specificitesPrestation}" /> 
	
	<h:outputText value="Nombre de masseurs demandés sur cette prestation :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.nombreMasseursPrestation}" /> 
    
    <h:outputText value="Nombre de places restantes :" /> 
    <h:outputText value="#{mbFichePresta.nombreDePlacesDispo}" /> 
    
    <h:outputText value="Coût Mads :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.coutMads}"  />  
    
    <h:outputText value="Les masseurs inscrits à cette prestation :" /> 
    <ui:repeat var="masseur" value="#{mbFichePresta.mesMasseurs}">
    <ul>
   <li> <h:outputText value="#{masseur.prenomMasseur} #{masseur.nomMasseur}" />  </li>
    </ul>
</ui:repeat>


</p:panelGrid>
				</div>
				<div class="panel2" style="color:white">
				<h2>Contact :</h2>
				<p:panelGrid columns="2" layout="grid">
				
    <h:outputText value="Nom du contact :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.partenaire.nomContactPartenaire}" /> 

     
    <h:outputText value="Numéro de téléphone :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.partenaire.numeroContactPartenaire}" /> 

     
    <h:outputText value="Adresse email :" /> 
    <h:outputText value="#{mbFichePresta.intervReelle.prestation.partenaire.mailContactPartenaire}" /> 
    

</p:panelGrid>	
					</div>
		</div >
		<div style="text-align:center">
		<h3>
		<p:panelGrid rendered="#{mbFichePresta.masseurConnected != null}">
			<p:panelGrid rendered="#{mbFichePresta.nombreDePlacesDispo == 0}">
				<h:outputLabel
					value="Malheureusement, il n'y a plus de places disponibles pour cette intervention..." />
			</p:panelGrid>

			<p:panelGrid rendered="#{mbFichePresta.nombreDePlacesDispo>0}">
				<p:panelGrid rendered="#{mbFichePresta.intervReelle.prestation.coutMads - mbFichePresta.calculSoldeMads() >0 }">
					<h:outputLabel 
						value="Tu n'as pas assez de Mads pour t'inscrire à cette intervention! Pas de panique, tu peux toujours en acheter!" />
				</p:panelGrid>

				<p:panelGrid
					rendered="#{mbFichePresta.calculSoldeMads() > mbFichePresta.intervReelle.prestation.coutMads}">
					<p:commandButton ajax="true"
						action="#{mbFichePresta.inscription()}" value="M'inscrire"
						rendered="#{mbFichePresta.masseurConnected != null}"></p:commandButton>
					<h:commandButton action="#{mbFichePresta.inscription()}"
						value="Inscri">
					</h:commandButton>
				</p:panelGrid>
			</p:panelGrid>
			</p:panelGrid>
			</h3>
				<p:commandButton action="#{mbFicheMasseurMasseur.acheterMads()}"
								value="Acheter des Mads" icon="fa fa-euro" style="margin">
							</p:commandButton>
			</div>
		</h:form>
</ui:define>
    </ui:composition>
</html>
