<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="MasterPage.xhtml">
	
	<ui:define name="EspCss">
<!-- 		<h:outputStylesheet name="CSS/StyleFicheMasseurAdm.css" /> -->
			<h:outputStylesheet name="CSS/StyleListePrestaInscriMasseur.css"/>	
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanMasseur.menuModel}" />
		

	</ui:define>

	<ui:define name="PrincipalContent">
	<h1 style="text-align: center"> Inscription prestation </h1>
	
	<h:form id="formTableau">
<!-- 	rowStyleClass="#{intervention.prestation.nombreMasseursPrestation - mbInscriPrestaMass.CalculMasseursPresents(intervention.idInterventionReelle) == 0 ? 'redClass' : null}" -->
		<p:dataTable  reflow="true" value="#{mbInscriPrestaMass.listeInterventionReellesDispo}" var="intervention" border="1" scrollable="true" scrollHeight="800" >
   <p:column headerText="Nom" sortBy = "#{intervention.prestation.libellePrestation}" filterBy="#{intervention.prestation.libellePrestation}" filterMatchMode="contains">
		<h:outputLabel value="#{intervention.prestation.libellePrestation}" />
	</p:column>
	<p:column style="text-align: center" headerText="Date de l'intervention : " sortBy = "#{intervention.datePrestation}" filterBy="#{intervention.datePrestation}" filterMatchMode="contains">
		<h:outputLabel value="#{intervention.datePrestation}" >
			<f:convertDateTime pattern="dd-MM-yyyy"/>
		</h:outputLabel>
	</p:column>
	<p:column style="text-align: center" headerText="Heure de l'intervention : " >
		<h:outputLabel value="#{intervention.prestation.heureDebutPrestation}" >
<!-- 			<f:convertDateTime pattern="dd-MM-yyyy"/> -->
		</h:outputLabel>
	</p:column>
<!-- 		<p:column headerText="Nombre de places disponibles : " > -->
<!-- 		<h:outputLabel value="#{intervention.prestation.nombreMasseursPrestation - mbInscriPrestaMass.CalculMasseursPresents(intervention.idInterventionReelle)} " > -->
<!-- 		</h:outputLabel> -->
<!-- 	</p:column> -->
	<p:column style="text-align: center"  headerText="Type de prestation : " sortBy = "#{intervention.prestation.partenaire.typePartenaire.libelleTypePartenaire}" filterBy="#{intervention.prestation.partenaire.typePartenaire.libelleTypePartenaire}" filterMatchMode="contains">
		<h:outputLabel value="#{intervention.prestation.partenaire.typePartenaire.libelleTypePartenaire}" >
		</h:outputLabel>
	</p:column>
	<p:column style="text-align: center"  headerText="Détail : " >
		<p:commandButton icon="fa fa-file-o" action="#{mbInscriPrestaMass.getDetailsPresta(intervention.idInterventionReelle)}" value="Détails" /> 
<!-- 		<h:outputLabel value="Plus de détail" rendered="#{mbInscriPrestaMass.CalculMasseursPresents(intervention.idInterventionReelle)- intervention.prestation.nombreMasseursPrestation != 0}" /> -->
<!-- 		<h:outputLabel value="Il n'y a plus de places disponibles!" rendered="#{mbInscriPrestaMass.CalculMasseursPresents(intervention.idInterventionReelle)- intervention.prestation.nombreMasseursPrestation == 0}" /> -->
	</p:column>
		</p:dataTable>
	</h:form>
	
	
	</ui:define>
	</ui:composition>
</html>