<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="ListePrestaCss">
		<h:outputStylesheet name="CSS/StyleAjoutPartenaire.css" />
	</ui:define>

	<ui:define name="head">
		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>
	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" />
	</ui:define>

	<ui:define name="PrincipalContent">

		<div class="title">
			<h1>Mes demandes à traiter</h1>
		</div>

		<h:form id="consultForm">

			<p:dataTable value="#{mbDemandeDevise.prestations}" var="prestation"
				border="1" scrollable="true" scrollHeight="400">
				<p:column headerText="Nom du partenaire"
					sortBy="#{prestation.partenaire.nomPartenaire}">
					<h:outputLabel value="#{prestation.partenaire.nomPartenaire}" />
				</p:column>
				<p:column headerText="Adresse mail"
					sortBy="#{prestation.partenaire.adresseMailPartenaire}">
					<h:outputLabel
						value="#{prestation.partenaire.adresseMailPartenaire}" />
				</p:column>
				<p:column headerText="Date d'émission"
					sortBy="#{prestation.dateEmissionPrestation}">
					<ui:repeat var="intervention"
						value="#{prestation.dateEmissionPrestation}">
						<h:outputLabel value="#{prestation.dateEmissionPrestation}">
							<f:convertDateTime dateStyle="medium" />
						</h:outputLabel>
					</ui:repeat>
				</p:column>

				<p:column headerText="Détails">
				
				 <a href="DemandesDevisATraite.xhtml?id=#{prestation.idPrestation}">
				 Voir formulaire</a>
				</p:column>
			</p:dataTable>



		</h:form>


	</ui:define>
</ui:composition>
</html>