<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"> 

<ui:composition template="MasterPage.xhtml">
	<ui:define name="ListePrestaCss">
		<h:outputStylesheet name="CSS/StyleListePresta.css" />
	</ui:define>

     <ui:define name="head">
      	<h:form>
		 <h:commandLink action="#{mbAccount.deconnexion()}" value="Déconnexion" />
		</h:form>
     </ui:define>

    <ui:define name="Nav">
    <p:menubar model="#{menuBeanAdmin.menuModel}"/>
    </ui:define>
    
    <ui:define name="PrincipalContent">
    
    <div class="title">
			<h1>Mes prestations à venir</h1>
		</div>
   
   <h:form id="consultForm">
    <p:commandButton value ="Voir mes prestations passées" id="aller" action="#{mbPrestation.onButtonHistoriqueClick()}"></p:commandButton>
    
   <p:dataTable id="table" value="#{mbPrestation.interventionReelle}" var="prestation" border="1" scrollable="true" scrollHeight="800" widgetVar="tab">
   <p:column headerText="Nom" sortBy = "#{prestation.prestation.partenaire.nomPartenaire}" filterBy="#{prestation.prestation.partenaire.nomPartenaire}" filterMatchMode="contains">
		<h:outputLabel value="#{prestation.prestation.partenaire.nomPartenaire}" />
	</p:column>
	<p:column headerText="Libellé de la prestation" sortBy="#{prestation.prestation.libellePrestation}" filterBy="#{prestation.prestation.libellePrestation}" filterMatchMode="contains">
		<h:outputLabel value="#{prestation.prestation.libellePrestation}" />
	</p:column>
	<p:column headerText="Date de la prestation" sortBy="#{prestation.datePrestation}" filterBy="#{prestation.datePrestation}">
		<ui:repeat var="intervention" value="#{prestation.datePrestation}">
		<h:outputLabel value="#{prestation.datePrestation}"> <f:convertDateTime dateStyle="medium"/> </h:outputLabel>
		</ui:repeat>
	</p:column> 
	<p:column  headerText="Nombre de masseurs">
		<h:outputLabel value="#{prestation.prestation.nombreMasseursPrestation}" />
	</p:column>   
	<p:column>
		<p:commandButton process="table" action= "#{mbPrestation.goToFichePrestation()}" icon="ui-icon-document"
		style="margin: 1.0vh" size="3px">
		<f:setPropertyActionListener value="#{prestation}" target="#{mbPrestation.selectedIntervention}"></f:setPropertyActionListener>
		</p:commandButton>
		
		<p:commandButton process="table" update=":deleteForm:deletePanel"
						oncomplete="PF('deleteDialog').show()" icon="ui-icon-closethick" style="margin: 1.0vh">
			<f:setPropertyActionListener value="#{prestation}" target="#{mbPrestation.selectedIntervention}" />
		</p:commandButton>
	
	</p:column>
	

	</p:dataTable>

    </h:form>
    
    <p:dialog header="Annuler la prestation " widgetVar="deleteDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="deleteForm">
				<p:outputPanel id="deletePanel">
					<p:outputLabel></p:outputLabel>
					<br />
					<br />
					<div align="center">
						<p:outputLabel>
							<strong><h2>Prestation #{mbPrestation.selectedIntervention.prestation.libellePrestation}</h2></strong>
						</p:outputLabel>
					</div>
					<p:outputLabel value ="Veuillez sélectionner un motif parmi la liste suivante :"></p:outputLabel>
					<br />
					<br />
						<h:selectOneMenu
							value="#{mbPrestation.motifAnnulation}">
							<f:selectItem itemLabel="Choisir un motif :" itemValue=""
								noSelectionOption="true" />

							<f:selectItems
								value="#{mbPrestation.mesMotifs}"/>
						</h:selectOneMenu>
					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbPrestation.desactiverIntervention()}"
						update="@widgetVar(tab)" oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>
    
    </ui:define>
    </ui:composition>

</html>