<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<!-- a modif avec MasterPage.xhtml-->
<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet />
	</ui:define>
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanAdmin.menuModel}" />

	</ui:define>

	<ui:define name="PrincipalContent">
		<div class="article">

			<div class="title" style="front-color: white" align="center">
				<h1>Mes Supers Masseurs</h1>
			</div>
			<div id="infos" style="text-align: center">
				<div class="infosA" style="font-size: 1.5em;">
					<h:outputLabel
						value="#{mbListeMasseurs.listeMasseursCompleteActifs.size()}" />
					<!-- Ne renvoie que les masseurs avec une affectation et une catégorie. a rajouter en automatique à la création du masseur -->
					<h:outputLabel value=" masseurs actifs" />
					<!-- Que si selection inactif: -->
					<h:outputLabel value=" et " />
					<h:outputLabel
						value=" #{mbListeMasseurs.listeMasseursCompleteInactifs.size()}" />
					<!-- rendered="#{mbListeMasseurs.statutChoisi == 'Inactifs'}" -->
					<h:outputLabel value=" masseurs inactifs actuellement" />
				</div>
				<div class="infosB">
					<h:form>
						<p:selectOneMenu id="selectActInact"
							value="#{mbListeMasseurs.statutChoisi}" styleClass="ddlAct">
							<p:ajax listener="#{mbListeMasseurs.OnChange()}"
								update=":formTable:DT1" />
							<!-- COMMENT METTRE ACTIF EN PARAM PAR DEFAUT?? -->
							<f:selectItem itemLabel="choisir statut" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbListeMasseurs.actifInactif}" />
						</p:selectOneMenu>
		&nbsp;
						<p:selectOneMenu id="selectNiveau"
							value="#{mbListeMasseurs.niveauChoisi}" styleClass="ddlAct">
							<p:ajax listener="#{mbListeMasseurs.OnChange()}"
								update=":formTable:DT1" />
							<!-- 					COMMENT METTRE ACTIF EN PARAM PAR DEFAUT?? -->
							<f:selectItem itemLabel="Evolution professionnelle" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbListeMasseurs.evolutionsPro}" var="evo"
								itemLabel="#{evo.libelleEvolutionProfessionnelle}"
								itemValue="#{evo.libelleEvolutionProfessionnelle}" />
						</p:selectOneMenu>
&nbsp;
						<p:selectOneMenu id="selectCategorie"
							value="#{mbListeMasseurs.categorieChoisie}" styleClass="ddlAct">
							<p:ajax listener="#{mbListeMasseurs.OnChange()}"
								update=":formTable:DT1" />
							<!-- 					COMMENT METTRE ACTIF EN PARAM PAR DEFAUT?? -->
							<f:selectItem itemLabel="Catégorie" itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{mbListeMasseurs.categoriesMass}"
								var="catego" itemLabel="#{catego.libelleCategorieMasseur}"
								itemValue="#{catego.libelleCategorieMasseur}" />
							<!-- plutot renvoyer catego ou id? -->
						</p:selectOneMenu>
					</h:form>
				</div>
<br/>

			</div>
			<div class="table">
				<h:form id="formTable">

					<p:dataTable id="DT1" var="masseur" widgetVar="tab"
						value="#{mbListeMasseurs.listeMasseursCompleteActifs}"
						style="margin-bottom:40px" scrollable="true" scrollHeight="800"
						reflow="true">
						<f:facet name="header">Mes masseurs</f:facet>
						<p:column sortBy="#{masseur.nomMasseur}" headerText="Nom"
							filterBy="#{masseur.nomMasseur}" filterMatchMode="contains">
							<h:outputText value="#{masseur.nomMasseur}" />
						</p:column>

						<p:column headerText="Prénom" sortBy="#{masseur.prenomMasseur}"
							filterBy="#{masseur.prenomMasseur}" filterMatchMode="contains">
							<h:outputText value="#{masseur.prenomMasseur}" />
						</p:column>

						<p:column headerText="Niveau" style="text-align:center">
							<ui:repeat var="evoPro"
								value="#{masseur.evolutionsProfessionnelles}">
								<li style="list-style: none;"><h:outputLabel
										value="#{evoPro.evolutionsProfessionnelle.libelleEvolutionProfessionnelle}" /></li>
							</ui:repeat>
						</p:column>
						<p:column headerText="Categorie" style="text-align:center">
							<ui:repeat var="affectation"
								value="#{masseur.affectactionsCategorieMasseur}">
								<li style="list-style: none;"><ui:repeat var="categ"
										value="#{affectation.categorieMasseur}">
										<h:outputLabel value="#{categ.libelleCategorieMasseur}" />
									</ui:repeat></li>
							</ui:repeat>
						</p:column>
						<p:column headerText="Détails" styleClass="liste-item-boutons">
							<!-- 							<a href="FicheMasseurAdm.xhtml?id=#{masseur.id_masseur}">Voir plus de détails #{masseur.id_masseur}</a> | <a href="MiseAJourMasseur.xhtml?id=#{masseur.id_masseur}">mettre à jour le masseur </a> -->
							<!-- process sur le nom de la dataTable, action sur la méthode du bean déclenchée -->
							<!-- "value" renvoie à la "var" de la p:dataTable -->
							<!--  target renvoie vers l'élément de stockage coté bean, du TYPE de la "var" -->
							<p:commandButton process="DT1"
								action="#{mbListeMasseurs.lienFicheMasseur()}"
								icon="ui-icon-document" style="margin: 1.0vh" size="3px"
								title="Fiche masseur">
								<f:setPropertyActionListener value="#{masseur}"
									target="#{mbListeMasseurs.masseur}" />
							</p:commandButton>
							<p:commandButton process="DT1"
								action="#{mbListeMasseurs.lienModifierMasseur()}"
								icon="ui-icon-pencil" style="margin: 1.0vh" size="3px"
								title="Mise à jour masseur">
								<f:setPropertyActionListener value="#{masseur}"
									target="#{mbListeMasseurs.masseur}" />
							</p:commandButton>
							<p:commandButton update=":deleteForm:deletePanel"
								oncomplete="PF('deleteDialog').show()" icon="ui-icon-closethick"
								style="margin: 1.0vh"
								action="#{mbListeMasseurs.recupererInterv()}"
								title="Desactiver masseur">
								<!-- zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz -->
								<f:setPropertyActionListener value="#{masseur}"
									target="#{mbListeMasseurs.masseur}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>

					<!-- 				<p:commandButton value="Ajax Submit" id="ajax" action="#{buttonView.buttonAction}" style="margin-right:20px;" styleClass="ui-priority-primary" /> update="growl"  -->
				</h:form>

			</div>

		</div>

		<p:dialog header="Désactiver le masseur :" widgetVar="deleteDialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="false">
			<h:form id="deleteForm">
				<p:outputPanel id="deletePanel">

					<div align="center">
						<p:outputLabel>
							Vous êtes sur le point de désactiver 
							  #{mbListeMasseurs.masseur.prenomMasseur} #{mbListeMasseurs.masseur.nomMasseur}
						</p:outputLabel>
					</div>
					<br />
					<br />
					<p:outputLabel>La date de fin de partenariat effective est: </p:outputLabel>
					<br />

					<p:calendar value="#{mbListeMasseurs.dateJour}" timeZone="+2" />
					<br />
					<br />
					<p:outputLabel>Motif : </p:outputLabel>
					<br />
					<br />
					<!-- 						<h:selectOneMenu -->
					<!-- 							value="#{mbListeMasseurs.motifSelectionne}" > -->
					<!-- 							<f:selectItem itemLabel="Choisir un motif" itemValue="" -->
					<!-- 								noSelectionOption="true" /> -->
					<!-- 							<f:selectItems -->
					<!-- 								value="#{mbListeMasseurs.motifsFCM}" var="motif" itemLabel="#{motif.libelleMotifFinContratMasseur}" itemValue="#{motif.libelleMotifFinContratMasseur}" /> -->
					<!-- 						</h:selectOneMenu> -->
					<p:selectOneMenu id="selectMotif"
						value="#{mbListeMasseurs.motifSelectionne}">
						<p:ajax listener="#{mbListeMasseurs.recupererInterv()}"
							update="upd"></p:ajax>
						<f:selectItem itemLabel="Choisir un motif" itemValue=""
							noSelectionOption="true" />
						<f:selectItems value="#{mbListeMasseurs.motifsFCM}" var="motif"
							itemLabel="#{motif.libelleMotifFinContratMasseur}"
							itemValue="#{motif.libelleMotifFinContratMasseur}" />

					</p:selectOneMenu>
					<br />
					<br />
					<p:panel id="upd"
						rendered="#{mbListeMasseurs.inscriptions != null}">
						<p:outputLabel> Attention! Ce masseur a des interventions prévues </p:outputLabel>
						<h:panelGrid columns="2" cellpadding="10">
							<ui:repeat var="interv" value="#{mbListeMasseurs.inscriptions}">
								<h:outputLabel
									value="#{interv.interventionReelle.prestation.libellePrestation}" />
								<h:outputLabel
									value=" #{interv.interventionReelle.datePrestation}">
									<f:convertDateTime pattern="dd-MM-yyyy" />
								</h:outputLabel>
							</ui:repeat>
						</h:panelGrid>

					</p:panel>


					<p:outputLabel>Voulez vous desactiver ce partenaire ?  </p:outputLabel>
					<p:outputLabel rendered="#{mbListeMasseurs.inscriptions != null}">Cette action retirera #{mbListeMasseurs.masseur.prenomMasseur} #{mbListeMasseurs.masseur.nomMasseur} de toutes ces prestations</p:outputLabel>

					<br />
					<br />
					<p:commandButton value="Annuler"
						oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right;margin:0.5vh" />
					<p:commandButton value="Confirmer"
						action="#{mbListeMasseurs.desactiverMasseur()}"
						update="@widgetVar(tab)" oncomplete="PF('deleteDialog').hide()"
						style="display: float; float:right; margin: 0.5vh" />
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
</html>