<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
<!-- 	<ui:define name="EspCss"> -->
<!-- 		<h:outputStylesheet name="" /> -->
<!-- 	</ui:define> -->
	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

		<style type="text/css">
.ui-datatable input {
	box-sizing: border-box;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none !important;
}
</style>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanMasseur.menuModel}" />


	</ui:define>

	<ui:define name="PrincipalContent">
	<div id="estVisible" >
		<h1 style="text-align:center">Mes prestations à venir</h1>
		<h:form id="aVenir">
		<h:outputLabel value="Aucune prestation prévue"
			rendered="#{mbFicheMasseurMasseur.interventionsAVenir == null}" />
		
		<p:dataTable id="TablePresta" value="#{mbFicheMasseurMasseur.interventionsAAfficher}"
			var="intervention" border="1"
			 emptyMessage="Aucune prestation à afficher pour le moment" reflow="true">

			<p:column>
				<f:facet name="header">Nom de l'intervention</f:facet>
				<h:outputLabel value="#{intervention.prestation.libellePrestation}" />
			</p:column>
			<p:column>
				<f:facet name="header">Lieu de l'intervention</f:facet>
				<h:outputLabel
					value="#{intervention.prestation.adresseInterventionPrestation}" />
			</p:column>
			<p:column>
				<f:facet name="header">Date de l'intervention</f:facet>
				<h:outputLabel value="#{intervention.datePrestation}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputLabel>
			</p:column>
			<p:column>
				<f:facet name="header">Heure de l'intervention</f:facet>
				<h:outputLabel
					value="#{intervention.prestation.heureDebutPrestation}" />
			</p:column>
			<p:column>
				<f:facet name="header">Autres actions</f:facet>
				<p:commandButton 
								action="#{mbFicheMasseurMasseur.lienFichePrestation()}"
								icon="ui-icon-document" style="margin: 1.0vh" size="3px" title="Fiche prestation" rendered="#{mbFicheMasseurMasseur.historique == false}">
								<f:setPropertyActionListener value="#{intervention}"
									target="#{mbFicheMasseurMasseur.selectedIntervention}" />
							</p:commandButton>
				<p:commandButton update="@form"
								action="#{mbFicheMasseurMasseur.seDesinscrire()}"
								icon="ui-icon-closethick" style="margin: 1.0vh" size="3px" title="se desinscrire" rendered="#{mbFicheMasseurMasseur.historique == false}">
								<f:setPropertyActionListener value="#{intervention}"
									target="#{mbFicheMasseurMasseur.selectedIntervention}" />
							</p:commandButton>
							
<!-- 							<h:outputLabel -->
<!-- 					value="Retourex" rendered="#{mbFicheMasseurMasseur.historique == true}"/> -->
							<f:facet name="header"> Retours d'expérience</f:facet>
				<p:commandButton process="TablePresta" rendered="#{mbFicheMasseurMasseur.historique == true}"
								action="#{mbFicheMasseurMasseur.faireUnRetourDexperience()}"
								icon="ui-icon-comment" style="margin: 1.0vh" size="3px" title="Donner mon avis">
								<f:setPropertyActionListener value="#{intervention}"
									target="#{mbFicheMasseurMasseur.selectedIntervention}"  />
							</p:commandButton>
			</p:column>

		</p:dataTable>
		<br/>
		<div style="text-align:center">
			<p:commandButton
				action="#{mbFicheMasseurMasseur.sInscrireAPrestation()}"

				value="M'inscrire à une prestation" rendered="#{mbFicheMasseurMasseur.estNeoNomad == false}" />
&nbsp;
			<p:commandButton action="#{mbFicheMasseurMasseur.consulterHistorique()}" update="@form" value="Voir mon historique" rendered="#{mbFicheMasseurMasseur.historique == false}"></p:commandButton>
			<p:commandButton action="#{mbFicheMasseurMasseur.consulterPrestAvenir()}" update="@form" value="Voir mes prestations à venir" rendered="#{mbFicheMasseurMasseur.historique == true}"></p:commandButton>
		</div>


	<!-- 		<h:commandButton
				action="#{mbFicheMasseurMasseur.consulterHistorique()}"
				value="Consulter mes prestations passées">
				<f:ajax render=":TablePresta"></f:ajax>
			</h:commandButton>  -->
<!-- >>>>>>> branch 'master' of https://gitlab.com/elhayanihassan1/fr.afcepf.ai107.nomads.projet3.groupe3 -->
		</h:form>
</div>

<!-- PARTIE PASSEE -->

<!-- 	<div id="estVisible"> -->
<!-- 		<h2>Mes prestations passées</h2> -->
<!-- 		<h:form id="passee"> -->
<!-- 		<h:outputLabel value="Aucune prestation passée" -->
<!-- 			rendered="#{mbFicheMasseurMasseur.interventionsPassees == null}" /> -->
		
<!-- 		<p:dataTable id="TablePresta" value="#{mbFicheMasseurMasseur.interventionsPassees}" -->
<!-- 			var="intervention" border="1" -->
<!-- 			rendered="#{mbFicheMasseurMasseur.interventionsPassees.size()>0}"> -->

<!-- 			<p:column> -->
<!-- 				<f:facet name="header">Nom de l'intervention</f:facet> -->
<!-- 				<h:outputLabel value="#{intervention.prestation.libellePrestation}" /> -->
<!-- 			</p:column> -->
<!-- 			<p:column> -->
<!-- 				<f:facet name="header">Lieu de l'intervention</f:facet> -->
<!-- 				<h:outputLabel -->
<!-- 					value="#{intervention.prestation.adresseInterventionPrestation}" /> -->
<!-- 			</p:column> -->
<!-- 			<p:column> -->
<!-- 				<f:facet name="header">Date de l'intervention</f:facet> -->
<!-- 				<h:outputLabel value="#{intervention.datePrestation}"> -->
<!-- 					<f:convertDateTime pattern="dd-MM-yyyy" /> -->
<!-- 				</h:outputLabel> -->
<!-- 			</p:column> -->
<!-- 			<p:column> -->
<!-- 				<f:facet name="header">Heure de l'intervention</f:facet> -->
<!-- 				<h:outputLabel -->
<!-- 					value="#{intervention.prestation.heureDebutPrestation}" /> -->
<!-- 			</p:column> -->
<!-- 			<p:column> -->
<!-- 				<f:facet name="header"> Retours d'expérience</f:facet> -->
<!-- 				<p:commandButton process="TablePresta" -->
<!-- 								action="#{mbFicheMasseurMasseur.faireUnRetourDexperience()}" -->
<!-- 								icon="ui-icon-comment" style="margin: 1.0vh" size="3px" title="Donner mon avis"> -->
<!-- 								<f:setPropertyActionListener value="#{intervention}" -->
<!-- 									target="#{mbFicheMasseurMasseur.selectedIntervention}" /> -->
<!-- 							</p:commandButton> -->
<!-- 			</p:column> -->
<!-- </p:dataTable> -->
<!-- </h:form> -->
<!-- </div> -->





	</ui:define>
</ui:composition>
</html>