<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StylistePrestations.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>

	<ui:define name="Nav">
		<p:menubar model="#{menuBeanAdmin.menuModel}" rendered="#{mbInfoPartenaire.admin}"/>
		<p:menubar model="#{menuBeanPartenaire.menuModel}" rendered="#{mbInfoPartenaire.part}"/>
	</ui:define>

	<ui:define name="PrincipalContent">

		<div class="titre">

			<h:outputText value="#{mbModifierPartenaire.success}"
				style="color:green; font-weight:bold" />

			<p:commandButton value="Liste partenaire"
				action="#{mbModifierPartenaire.retourListePartenaire()}"
				oncomplete="PF('modifierDialog').hide()"
				icon="ui-icon-arrowreturnthick-1-w" iconPos="left"
				style="display: float; float:right ; margin-right: 2vh"
				rendered="#{mbModifierPartenaire.admin}"
				/>

			<p:outputLabel rendered="#{mbModifierPartenaire.admin}"><h2>Modifier ce Partenaire</h2></p:outputLabel>
			<p:outputLabel rendered="#{mbModifierPartenaire.part}"><h2>Modifier mes informations personnelles </h2></p:outputLabel>

		</div>

		<div class="formulaire">
			<h:form id="form">
				<p:panel class="form">
					<h:outputText value="#{mbAjoutPartenaire.success}"
						style="color:green; font-weight:bold" />
					<p:panelGrid id="modifierPanel" columns="2"
						styleClass="ui-noborder">
						<p:outputLabel>
							<strong><i>Nom: </i></strong>
						</p:outputLabel>
						<p:outputLabel
							value="#{mbModifierPartenaire.partenaire.nomPartenaire}">
						</p:outputLabel>
						<p:outputLabel></p:outputLabel>
						<p:outputLabel></p:outputLabel>
						<p:outputLabel>Adresse : </p:outputLabel>
						<p:inputText style="width: 190px"
							value="#{mbModifierPartenaire.partenaire.adressePostalePartenaire}" />

						<p:selectOneMenu id="codepostal"
							value="#{mbModifierPartenaire.selectedCP}">
							<p:ajax listener="#{mbModifierPartenaire.onCPChange()}"
								update="ville" />
							<f:selectItem
								itemLabel="#{mbModifierPartenaire.partenaire.villeCp.libelleCp}"
								itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{mbModifierPartenaire.codesPostaux}" />
						</p:selectOneMenu>

						<p:selectOneMenu id="ville"
							value="#{mbModifierPartenaire.selectedVille}">
							<f:selectItem
								itemLabel="#{mbModifierPartenaire.partenaire.villeCp.libelleVille}"
								itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{mbModifierPartenaire.villes}" />
						</p:selectOneMenu>

						<p:outputLabel>Numéro de téléphone du partenaire : </p:outputLabel>
						<p:inputText style="width: 190px"
							value="#{mbModifierPartenaire.partenaire.telephonePartenaire}" />

						<p:outputLabel>Adresse mail partenaire: </p:outputLabel>
						<p:inputText style="width: 190px"
							value="#{mbModifierPartenaire.partenaire.adresseMailPartenaire}" />

						<p:outputLabel>Nom du contacte: </p:outputLabel>
						<p:inputText style="width: 190px"
							value="#{mbModifierPartenaire.partenaire.nomContactPartenaire}" />

						<p:outputLabel>Numéro de téléphone du contacte : </p:outputLabel>
						<p:inputText style="width: 190px"
							value="#{mbModifierPartenaire.partenaire.numeroContactPartenaire}" />

						<p:outputLabel>Adresse mail du contact: </p:outputLabel>
						<p:inputText style="width: 190px"
							value="#{mbModifierPartenaire.partenaire.mailContactPartenaire}" />
					</p:panelGrid>
					<p>
					<p:outputLabel rendered="#{mbModifierPartenaire.admin}"><strong><i>Indisponibilités : </i></strong></p:outputLabel>
					<p:outputLabel rendered="#{mbModifierPartenaire.part}"><strong><i>Mes indisponibilités : </i></strong></p:outputLabel>
					</p>
					<p:panelGrid>
						<p:outputLabel>
							<i>#{mbModifierPartenaire.message}</i>
						</p:outputLabel>
	
					</p:panelGrid>
		
					<p:dataTable id="indispoPart"
						value="#{mbModifierPartenaire.historiqueIndispoPart}"
						widgetVar="indispoPart" var="indisponibilitePartenaire" border="1"
						scrollable="true" scrollHeight="200">
						<p:column headerText="À partir du">
							<h:outputLabel
								value="#{indisponibilitePartenaire.dateDebutIndisponibilitePartenaire}">
								<f:convertDateTime pattern="dd MMM yyyy" />
							</h:outputLabel>
						</p:column>
						<p:column headerText="Jusqu'à">
							<h:outputLabel
								value="#{indisponibilitePartenaire.dateFinIndisponibilitePartenaire}">
								<f:convertDateTime pattern="dd MMM yyyy" />
							</h:outputLabel>
						</p:column>
						<p:column headerText="Motif">
							<h:outputLabel
								value="#{indisponibilitePartenaire.motifIndisponibilitePartenaire.libelleMotifIndisponibilitePartenaire}"/>
							
						</p:column>
					</p:dataTable>
					<br />

					<p>
					<p:outputLabel rendered="#{mbModifierPartenaire.admin}"><strong><i>Le partenaire n'est pas disponible : </i></strong></p:outputLabel>
					<p:outputLabel rendered="#{mbModifierPartenaire.admin}"><strong><i>Je ne suis pas disponible : </i></strong></p:outputLabel>
							
					</p>
					<p:panelGrid>
						<p:outputLabel>
							<i>#{mbModifierPartenaire.message}</i>
						</p:outputLabel>
					
					</p:panelGrid>
					<p:dataTable id="indispoPartEnCours"
						value="#{mbModifierPartenaire.indisponibiliteEnCours}"
						widgetVar="indispoPart" var="indisponibilitePartenaire" border="1"
						scrollable="true" scrollHeight="200">
						<p:column headerText="À partir du">
							<h:outputLabel
								value="#{indisponibilitePartenaire.dateDebutIndisponibilitePartenaire}">
								<f:convertDateTime pattern="dd MMM yyyy" />
							</h:outputLabel>
						</p:column>
						<p:column headerText="Jusqu'à">
							<h:outputLabel
								value="#{indisponibilitePartenaire.dateFinIndisponibilitePartenaire}">
								<f:convertDateTime pattern="dd MMM yyyy" />
							</h:outputLabel>
						</p:column>
						<p:column headerText="Motif">
							<h:outputLabel
								value="#{indisponibilitePartenaire.motifIndisponibilitePartenaire.libelleMotifIndisponibilitePartenaire}"/>
						</p:column>
						<p:column headerText="Modifier">
							<p:commandButton process="indispoPartEnCours"
								oncomplete="PF('redisponibleDialog').show()"
								icon="ui-icon-pencil" style="margin: 1.0vh">
								<f:setPropertyActionListener
									value="#{indisponibilitePartenaire}"
									target="#{mbModifierPartenaire.indisponibiliteEnCours}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>
				
					<br />



					<p:commandButton value="Mettre à jour"
						action="#{mbModifierPartenaire.modifierPartenaire()}"
						icon="ui-icon-check" iconPos="left" update="@form"
						style="display: float; float:left; margin-right: 2vh" />
					<p:commandButton value="Annuler"
						action="#{mbModifierPartenaire.retourListePartenaire()}"
						icon="ui-icon-closethick" iconPos="left"
						style="display: float; float:center ; margin-right: 2vh" />
					<p:commandButton value="Ajouter une indisponibilité"
						oncomplete="PF('disponibleDialog').show()"
						icon="u ui-icon-plusthick" iconPos="left" 
						style="display: float; float:right ; margin-right: 2vh" />
				</p:panel>
		
			</h:form>


			<!-- Ajouter une indisponibilité -->
		
			<p:dialog header="Ajouter une période d'indisponibilité :"
				widgetVar="disponibleDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" draggable="true">
				<h:form id="disponibleForm">
					<p:outputPanel id="disponiblePanel">
						<p:outputLabel></p:outputLabel>
						<br />
						<br />
						<div align="center">
							<p:outputLabel rendered="#{mbModifierPartenaire.admin}">
										Le partenaire  <strong>#{mbModifierPartenaire.partenaire.nomPartenaire} </strong>  ne sera pas disponible :
							</p:outputLabel>
							<p:outputLabel rendered="#{mbModifierPartenaire.part}"><strong><i>Je ne serais pas disponible : </i></strong></p:outputLabel>
						
						</div>
						<br />
						<br />
						<p:outputLabel value="À partir de  : " />
						<br />
						<p:outputLabel>#{mbModifierPartenaire.message}</p:outputLabel>
						<br />
						<p:calendar value="#{mbModifierPartenaire.dateDebutIndispoAjout}"
							timeZone="+2" mindate="#{mbModifierPartenaire.dateFromLocalDT}"
							required="true"
							requiredMessage="Pour l'ajout d'une nouvelle disponibilité vous devez choisir une date de début !">
						</p:calendar>
						<br />
						<br />
						<p:outputLabel value="Jusqu'à  : " />
						<br />
						<br />
						<p:calendar value="#{mbModifierPartenaire.dateFinIndispoAjout}"
							timeZone="+2"
							mindate="#{mbModifierPartenaire.nouvelleIndispo.dateDebutIndisponibilitePartenaire}" />
						<br />
						<h:selectOneMenu value="#{mbModifierPartenaire.motifIndispoPart}">
							<f:selectItem itemLabel="Choisir un motif" itemValue=""
								noSelectionOption="true" />

							<f:selectItems value="#{mbModifierPartenaire.motifsIdispo}" />
						</h:selectOneMenu>
						<br />
						<p:commandButton value="Annuler"
							oncomplete="PF('disponibleDialog').hide()"
							style="display: float; float:right; margin: 1.0vh; background:#D18888" />
						<p:commandButton value="Confirmer" update="@widgetVar(indispoPart)"
							action="#{mbModifierPartenaire.ajouterIndisponibilitePartenaire()}"
							oncomplete="PF('disponibleDialog').hide()" 
							style="display: float; float:left; margin: 1.0vh; background:#88D1AA" />
					</p:outputPanel>
					
				</h:form>
			</p:dialog>


			<!-- Modifier une indisponibilité -->

			<p:dialog header="Modifier une période d'indisponibilité : "
				widgetVar="redisponibleDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" draggable="true">
				<h:form id="redisponibleForm">
					<p:outputPanel id="redisponiblePanel">
						<p:outputLabel></p:outputLabel>
						<br />
						<br />
						<div align="center">
							<p:outputLabel rendered="#{mbModifierPartenaire.admin}">
								<strong>Le partenaire sera disponible à partir de :</strong>
							</p:outputLabel>
							<p:outputLabel rendered="#{mbModifierPartenaire.part}">
								<strong>Modifier mes disponibilitées</strong>
							</p:outputLabel>
						</div>
						<br />
						<br />
						<p:outputLabel rendered="#{mbModifierPartenaire.admin}">Le partenaire été indisponible depuis le : </p:outputLabel>
						<p:outputLabel rendered="#{mbModifierPartenaire.part}">Je suis indisponible depuis : </p:outputLabel>
						<br />
						<br />
						<strong><h:outputLabel
								value="#{mbModifierPartenaire.indisponibiliteEnCours.dateDebutIndisponibilitePartenaire}">
								<f:convertDateTime pattern="dd MMM yyyy" />
							</h:outputLabel></strong>
						<br />
						<br />
						<p:outputLabel rendered="#{mbModifierPartenaire.admin}" for="finIndispo">
							Et sera disponible à partir de : 
							</p:outputLabel>
							<p:outputLabel rendered="#{mbModifierPartenaire.part}"
							for="finIndispo">Je serais à nouveau disponible à partir de : 
							</p:outputLabel>
						<br />
						<br />
						<p:calendar id="finIndispo"
							value="#{mbModifierPartenaire.dateFinIndispoModif}" timeZone="+2"
							mindate="#{mbModifierPartenaire.dateFromLocalDT}"
							navigator="true" />

						<br />
						<br />

						<p:commandButton value="Annuler"
							oncomplete="PF('redisponibleDialog').hide()"
							style="display: float; float:right;margin:1.0vh" />
						<p:commandButton value="Confirmer" background="green"
							action="#{mbModifierPartenaire.modifierIndisponibilitePartenaire()}"
							oncomplete="PF('redisponibleDialog').hide()"
							style="display: float; float:right; margin: 1.0vh" />
					</p:outputPanel>
				</h:form>
			</p:dialog>

		</div>


	</ui:define>
</ui:composition>
</html>