<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePartenaire.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanPartenaire.menuModel}" />

	</ui:define>
	<ui:define name="PrincipalContent">

		<h:form id="form">
			<div class="nomPartenaire">
				<h1>#{mbInfoPartenaire.partenaire.nomPartenaire}</h1>
			</div>

			<div class="aside">
				<div class="photo">
					<img
						src="resources/images/Partenaire/#{mbInfoPartenaire.partenaire.logoPartenaire}"
						style="width: 250px" />
						<div align = "center">
				<p:outputLabel front="MonotypeCorsiva"><strong><i>#{mbInfoPartenaire.estDisponible}</i></strong></p:outputLabel>
				</div>
				</div>
				
				<div class="prez">
					<h2>Informations du partenaires</h2>
					<div class="contact-flex">
						<p>Nom :</p>
						<p>#{mbInfoPartenaire.partenaire.nomPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Adress Mail :</p>
						<p>#{mbInfoPartenaire.partenaire.adresseMailPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse :</p>
						<p>
							<h:outputLabel>
								<a
									href="https://www.google.fr/maps/place/#{mbInfoPartenaire.partenaire.adressePostalePartenaire}+
								#{mbInfoPartenaire.partenaire.villeCp.libelleCp}+#{mbInfoPartenaire.partenaire.villeCp.libelleVille}"
									target="_blank">
									#{mbInfoPartenaire.partenaire.adressePostalePartenaire},#{mbInfoPartenaire.partenaire.villeCp.libelleCp}
									#{mbInfoPartenaire.partenaire.villeCp.libelleVille}</a>
							</h:outputLabel>
						</p>
					</div>
					<div class="contact-flex">
						<p>Numéro de téléphone :</p>
						<p>#{mbInfoPartenaire.partenaire.telephonePartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Date premier enregistrement :</p>
						<p>#{mbInfoPartenaire.partenaire.datePremierEnregistrementPartenaire}</p>
					</div>

				</div>
				<div class="contact">
					<h2>Informations de la personne contact</h2>
					<div class="contact-flex">
						<p>Nom du contact :</p>
						<p>#{mbInfoPartenaire.partenaire.nomContactPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Numéro de téléphone :</p>
						<p>#{mbInfoPartenaire.partenaire.numeroContactPartenaire}</p>
					</div>
					<div class="contact-flex">
						<p>Adresse mail :</p>
						<p>#{mbInfoPartenaire.partenaire.mailContactPartenaire}</p>

					</div>
					<p:commandButton action="#{mbInfoPartenaire.modifierPartenaire()}"
						value="Modifier mon profil" icon="ui-icon-pencil" style="margin:5.0vh">
					</p:commandButton>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>