<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="MasterPage.xhtml">
	<ui:define name="EspCss">
		<h:outputStylesheet name="CSS/StyleFichePartenaire.css" />
	</ui:define>

	<ui:define name="head">

		<h:form>
			<h:commandLink action="#{mbAccount.deconnexion()}"
				value="Déconnexion" />
		</h:form>

	</ui:define>

	<ui:define name="Nav">

		<p:menubar model="#{menuBeanPartenaire.menuModel}" />

	</ui:define>
	
	
	<ui:define name="PrincipalContent">

	<h:form id="form">
		<h1 >Donner mon avis sur la prestation #{retourPartenaire.interventionReelle.prestation.libellePrestation}  </h1>
	<p:panelGrid columns="2" layout="grid">
 
	
	<h2>Ma note sur la ponctualité des masseurs :</h2>
	<div class="knob-container ui-corner-all">
    <p:knob id="acc" colorTheme="hot-sneaks" max="10" showLabel="true"  value="#{retourPartenaire.notePonctualite}"/>
	</div>
	
	<h2>Ma note sur la qualité des massages (soit les retours de mes clients) : </h2>
	<div class="knob-container ui-corner-all">
    <p:knob colorTheme="hot-sneaks" max="10" value="#{retourPartenaire.noteQualite}"/>
	</div>
	
	<h2>Ma note sur l'aspect relationnel : </h2>
	<div class="knob-container ui-corner-all">
    <p:knob colorTheme="hot-sneaks" max="10" value="#{retourPartenaire.noteRelationnelle}"/>
	</div>
	</p:panelGrid>
	<br />
	<br />
	<p:panelGrid columns="2" layout="grid">
	
	<p:outputLabel>Mon commentaire :</p:outputLabel>
	 <p:inputTextarea rows="6" value="#{retourPartenaire.commentaire}" cols="30" counter="display" 
	 maxlength="250" counterTemplate="{0} characters remaining." autoResize="true" />
    <br />
    <h:outputText id="display" />
        

	
	</p:panelGrid>
	<p:commandButton  value="Sauvegarder" id="save" action="#{retourPartenaire.ajouterCommentaire()}"></p:commandButton>
	</h:form>
	</ui:define>
	
	
	</ui:composition>

</html>
