
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>

 <ui:insert name="title"></ui:insert>
     <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
<!--     <title>Nomad's</title> -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="${facesContext.externalContext.requestContextPath}/resources/CSS/base.css"/>
    <link rel="stylesheet" href="${facesContext.externalContext.requestContextPath}/resources/CSS/vendor.css"/>
    <link rel="stylesheet" href="${facesContext.externalContext.requestContextPath}/resources/CSS/main.css"/>
    <link rel="stylesheet" href="${facesContext.externalContext.requestContextPath}/resources/CSS/fonts.css"/>

    <!-- script 
    ================================================== -->
    <script src="${facesContext.externalContext.requestContextPath}/resources/js/modernizr.js"></script>
    <script src="${facesContext.externalContext.requestContextPath}/resources/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="${facesContext.externalContext.requestContextPath}/resources/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="${facesContext.externalContext.requestContextPath}/resources/favicon.ico" type="image/x-icon"/>
    
</h:head> 


  
<h:body id="top"> 

      <ui:include src="/include/header.xhtml"/> 
      <ui:insert name="content"></ui:insert>
      <ui:include src="/include/footer.xhtml"/>
      
          <!-- Java Script
    ================================================== -->
    <script src="${facesContext.externalContext.requestContextPath}/resources/js/jquery-3.2.1.min.js"></script>
    <script src="${facesContext.externalContext.requestContextPath}/resources/js/plugins.js"></script>
    <script src="${facesContext.externalContext.requestContextPath}/resources/js/main.js"></script>

</h:body> 
</html>

